.single-spot {
  .entry-content {
    font-size: 1.375em;
  }
  .spot-niveau {
    h3::after {
      content: none;
    }
  }
  .planche {
    margin: 0 0.25rem;
    &.unchecked {
      filter: grayscale(1);
      opacity: 0.5;
    }
  }
  .spot-acces_content {
    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

#spotMap {
  height: 400px;
}