.single-spot {
  .entry-content {
    font-size: 1.375em;
  }
  .spot-niveau h3::after{
    content: none;
  }
  .spot-acces_content{
    @include media-breakpoint-up(lg) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

#spotMap{
  height: 400px;
}