h1,
h2,
h3,
.h1,
.h2,
.h3 {
  text-transform: uppercase;
  font-weight: 700;
}

h1.page-title {
  font-size: 2.625rem;
  color: $white;
  text-shadow: 0 3px 6px rgba($black, 0.5);
}

h2,
.h2 {
  font-size: 1.5rem;
  @include undertitle();
}

h3:not(.h4),
.h3 {
  font-size: 1.25rem;
  @include undertitle(30px, 3px, $dark);
}

h4,
.h4 {
  font-size: 1.125rem;
  font-weight: bold;
  text-transform: none;
}

a:hover {
  text-decoration: none;
}

.entry-content {
  a {
    color: $body-color;
    text-decoration: underline;
    &:hover {
      background-color: $dark;
      color: $white;
    }
  }
}

.entry-excerpt {
  .entry-title {
    text-transform: none;
    &::after {
      background-color: $primary;
    }
  }
}

ul {
  list-style: square;
  padding-left: 20px;
}