
$primary: #C34687;
$white  : #ffffff;
$light  : #F8F8F8;
$dark   : #4D4D4D;

$font-family-base: 'Roboto', "Helvetica Neue", Helvetica, Arial, sans-serif;
$body-color      : $dark;
$enable-rounded  : false;
$border-width    : 2px;

$navbar-toggler-font-size         : 1.75rem;
$navbar-light-color               : $primary;
$navbar-light-hover-color         : $primary;
$navbar-light-active-color        : $primary;
$navbar-light-toggler-border-color: $white;